extends layout

block content
    div.container
        br
        .ShadowBox2
            div.moveCenter
                 h3= 'Something went wrong. Please check you URL.'
                 h3= error.status